<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
  <test  name="Test1">
    
    <parameter name="deviceName" value="Galaxy A50" ></parameter>
    <parameter name="platformVersion" value="11" ></parameter>
    <parameter name="UDID" value="Galaxy A50" ></parameter>
    <parameter name="port" value="4723" ></parameter>
    <classes>
      <class name="Actions.parallelexecution"/>
    </classes>
    
  </test> <!-- Test -->
  
  <test  name="Test2">
    
    <parameter name="deviceName" value="Galaxy A50" ></parameter>
    <parameter name="platformVersion" value="11" ></parameter>
    <parameter name="UDID" value="Galaxy A50" ></parameter>
    <parameter name="port" value="4723" ></parameter>
    <classes>
      <class name="Actions.parallelexecution"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
